<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-title"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="modal-content">
                 <form id="callForm" method="post">
                     <div class="mb-3">
                        <label for="callTime" class="form-label">Час</label>
                        <input type="text" class="form-control" id="ecallTime" name="ecallTime" readonly>
                    </div>
                    <div class="mb-3" >
                        <label for="fullName" class="form-label">ФIO</label>
                        <input type="text" class="form-control" id="efullName" name="efullName" required>
                    </div>
                    <div class="mb-3">
                        <label for="phone" class="form-label">Телефон</label>
                        <input type="text" class="form-control" id="ephone" name="ephone" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="eemail" name="eemail" required>
                    </div>
                    <div class="mb-3">
                        <label for="manager" class="form-label">Менеджер</label>
                        <select class="form-select" id="emanager" name="emanager" readonly>
                            <option value="">Виберiть менеджера</option>
                             {% for user in users %}
                                <option value="{{ user._id }}">{{ user.full_name }}</option>
                             {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="marketingResource" class="form-label">Джерело реклами</label>
                        <select class="form-select" id="emarketingResource" name="emarketingResource" required>
                            <option value="">Виберiть джерело реклами</option>
                            {% for mark in marketing %}
                                <option value="{{ mark._id }}">{{ mark.name }}</option>
                             {% endfor %}
                        </select>
                    </div>
                     <div class="mb-3">
                        <label for="engagement" class="form-label">Залученiсть (1-10)</label>
                        <input type="number" class="form-control" id="eengagement" name="eengagement" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary">Сохранить</button>
            </div>
        </div>
    </div>
</div>