<div class="modal fade" id="makeClients" tabindex="-1" aria-labelledby="addCallModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addCallModalLabel">Оформити договiр на навчання</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="offersForm" action="/clients" method="post">
                    <div class="mb-3" >
                        <label for="client_ID" class="form-label">ID</label>
                        <input type="text" class="form-control" id="client_ID" name="client_ID" readonly>
                    </div>
                    <div class="mb-3" >
                        <label for="client_fullName" class="form-label">ФIO</label>
                        <input type="text" class="form-control" id="client_fullName" name="client_fullName" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="client_manager_name" class="form-label">Менеджер</label>
                        <input type="text" class="form-control" id="client_manager_name" name="client_manager_name" readonly>
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" id="manager_ID" name="manager_ID" hidden>
                    </div>
                    <div class="mb-3">
                        <label for="courses" class="form-label">Курс</label>
                        <select class="form-select" id="courses" name="courses" required>
                            <option value="">Виберiть курс</option>
                             {% for course in courses %}
                                <option value="{{ course._id }}">{{ course.name }}</option>
                             {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="offers" class="form-label">Договiр</label>
                        <select class="form-select" id="offers" name="offers" required>
                            <option value="">Виберiть договiр</option>
                             {% for offer in offers %}
                                <option value="{{ offer._id }}">{{ offer.name }}</option>
                             {% endfor %}
                        </select>
                    </div>


                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>