<div class="modal fade" id="addCallModal" tabindex="-1" aria-labelledby="addCallModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addCallModalLabel">Add Call Record</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="callForm" method="post">
                     <div class="mb-3">
                        <label for="callTime" class="form-label">Час</label>
                        <input type="text" class="form-control" id="callTime" name="callTime" readonly>
                    </div>
                    <div class="mb-3" >
                        <label for="fullName" class="form-label">ФIO</label>
                        <input type="text" class="form-control" id="fullName" name="fullName" required>
                    </div>
                    <div class="mb-3">
                        <label for="phone" class="form-label">Телефон</label>
                        <input type="text" class="form-control" id="phone" name="phone" required>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" name="email" required>
                    </div>
                    <div class="mb-3">
                        <label for="manager" class="form-label">Менеджер</label>
                        <select class="form-select" id="manager" name="manager" required>
                            <option value="">Виберiть менеджера</option>
                             {% for user in users %}
                                <option value="{{ user._id }}">{{ user.full_name }}</option>
                             {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="marketingResource" class="form-label">Джерело реклами</label>
                        <select class="form-select" id="marketingResource" name="marketingResource" required>
                            <option value="">Виберiть джерело реклами</option>
                            {% for mark in marketing %}
                                <option value="{{ mark._id }}">{{ mark.name }}</option>
                             {% endfor %}
                        </select>
                    </div>
                     <div class="mb-3">
                        <label for="engagement" class="form-label">Залученiсть (1-10)</label>
                        <input type="number" class="form-control" id="engagement" name="engagement" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>