<div class="sidebar border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary">
      <div class="offcanvas-md offcanvas-end bg-body-tertiary" tabindex="-1" id="sidebarMenu" aria-labelledby="sidebarMenuLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="sidebarMenuLabel">SimpleCRM</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#sidebarMenu" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body d-md-flex flex-column p-0 pt-lg-3 overflow-y-auto">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link d-flex align-items-center gap-2 active" aria-current="page" href="/">
                <svg class="bi"><use xlink:href="#house-fill"/></svg>
                Головна
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link d-flex align-items-center gap-2" href="/calls">
                <svg class="bi"><use xlink:href="#file-earmark"/></svg>
                Дзвiнки
              </a>
            </li>
<!--            <li class="nav-item">-->
<!--              <a class="nav-link d-flex align-items-center gap-2" href="#">-->
<!--                <svg class="bi"><use xlink:href="#people"/></svg>-->
<!--                Products-->
<!--              </a>-->
<!--            </li>-->
            <li class="nav-item">
              <a class="nav-link d-flex align-items-center gap-2" href="/clients">
                <svg class="bi"><use xlink:href="#people"/></svg>
                Клiенти
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link d-flex align-items-center gap-2" href="/reports">
                <svg class="bi"><use xlink:href="#graph-up"/></svg>
                Звiти
              </a>
            </li>
<!--            <li class="nav-item">-->
<!--              <a class="nav-link d-flex align-items-center gap-2" href="#">-->
<!--                <svg class="bi"><use xlink:href="#puzzle"/></svg>-->
<!--                Integrations-->
<!--              </a>-->
<!--            </li>-->
          </ul>

          <hr class="my-3">

          <ul class="nav flex-column mb-auto">
            <li class="nav-item">
              <a class="nav-link d-flex align-items-center gap-2" href="#">
                <svg class="bi"><use xlink:href="#gear-wide-connected"/></svg>
                Settings
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link d-flex align-items-center gap-2" href="#">
                <svg class="bi"><use xlink:href="#door-closed"/></svg>
                Sign out
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>