<div class="table-responsive small">


        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">ФIО</th>
              <th scope="col">Курс</th>
              <th scope="col">Баланс</th>
              <th scope="col">Дата складання договору</th>
            </tr>
          </thead>
           <tbody>
           {% if clients is not iterable %}
    {% set clients = [clients] %}
{% endif %}
        {% for client in clients %}
            <tr>
                <td>{{ client['ID'] }}</td>
                <td>{{ client['student_name'] }}</td>
                <td>{{ client['course_name'] }}</td>
                <td>{{ client['balance'] }}</td>
                <td>{{ client['offers_date'] }}</td>
                <td>
                    <a href="/client_details/{{ client['ID'] }}" class="btn btn-outline-light">Детально</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
        </table>
      </div>