<div class="table-responsive small">


        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">ФIО</th>
              <th scope="col">Телефон</th>
              <th scope="col">Email</th>
              <th scope="col">Менеджер</th>
              <th scope="col">Зацiкавленiсть</th>
              <th scope="col">Джерело реклами</th>
                <th scope="col">Тривалiсть</th>
              <th scope="col">Дата створення</th>
            </tr>
          </thead>
           <tbody>
        {% for client in clients %}
            <tr>
                <td>{{ client['_id'] }}</td>
                <td>{{ client['full_name'] }}</td>
                <td>{{ client['phone'] }}</td>
                <td>{{ client['email'] }}</td>
                <td>{{ client['manager_ID']['manager_Name'] }}</td>
                <td>{{ client['engagement'] }}</td>
                <td>{{ client['marketing_resourse_ID']['marketing_resourse_name'] }}</td>
                <td>{{ client['call_duration'] }}</td>
                <td>{{ client['creation_date'] }}</td>
                <td>
                    <button class="btn btn-outline-success edit-btn"
                            data-id="{{ client['_id'] }}"
                            data-fullname="{{ client['full_name'] }}"
                            data-manager-id="{{ client['manager_ID']['manager_ID'] }}"
                            data-manager-name="{{ client['manager_ID']['manager_Name'] }}">
                        Оформити
                    </button>

                    <button class="btn btn-outline-primary edit-btn" data-client="{{ client }}">Редагувати</button>
<!--                    <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#makeClients">Оформити</button>-->
<!--                    <a href="/clients/{{client['_id']}}" class="btn btn-outline-success order-btn">Оформить</a>-->
<!--                    <button class="btn btn-outline-danger delete-btn">Видалити</button>-->
                </td>
            </tr>
        {% endfor %}
    </tbody>
        </table>
      </div>