<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Робоча панель</h1>

         <div id="clock" class="display-4"></div>

        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group me-2">
            {% block uButton %}{% endblock %}
          </div>
          <div class="btn-group me-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">Подiлитися</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Експорт</button>
          </div>
          <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle d-flex align-items-center gap-1">
            <svg class="bi"><use xlink:href="#calendar3"/></svg>
            Поточний тиждень
          </button>
        </div>
      </div>