{%extends 'tpl/base.html' %}

{% block title %}
Клиенты
{% endblock %}

 {% block message %}

      {% with messages = get_flashed_messages() %}
          {% if messages %}
              <div id="flash-message" class="alert alert-info custom-success-alert">
                  {{ messages[0] }}
              </div>
          {% endif %}
      {% endwith %}

  {% endblock %}

{% block body %}
<h1>Страница клиенты</h1>
{% endblock %}
{% block table %}
{% include 'tpl/tableClient.html' %}
{% endblock %}