{%extends 'tpl/base.html' %}

{% block title %}
Отчеты
{% endblock %}

{% block body %}
<h2>Детально</h2>
{% endblock %}
{% block canvas %}
<div class="container mt-4">
    <div class="row">
        <div class="col-12">
            <p class="text-muted"><small>ID запису: <span class="text-secondary">{{ student_data.ID }}</span></small></p>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="border border-success p-3 mb-4">
                <span class="text-muted"> <h5>Iнформацiя про студента: </h5>
                     <small>ID запису: <span class="text-secondary">{{ student_data.student_data._id }}</span></small>
                </span>
                <hr>
                <p class="text-muted"><strong>ФIО:</strong> {{ student_data.student_data.full_name }}</p>
                <p class="text-muted"><strong>Телефон:</strong> {{ student_data.student_data.phone }}</p>
                <p class="text-muted"><strong>Email:</strong> {{ student_data.student_data.email }}</p>
                <p class="text-muted"><strong>Баланс:</strong> {{ student_data.balance }} грн.</p>
                <p class="text-muted"><strong>Дата складання договору:</strong> {{ student_data.offers_date }}</p>

            </div>
            </div>
            <div class="col-6">
            <div class="border border-success p-3 mb-4">
               <span class="text-muted"> <h5>Iнформацiя за курс: </h5>
                <small>ID запису: <span class="text-secondary">{{ student_data.teacher_data._id }}</span></small>
                </span>
                <hr>
                <p class="text-muted"><strong>Назва курсу:</strong> {{ student_data.course_data.name }}  <small> | ID запису: <span class="text-secondary">{{ student_data.course_data._id }}</span></small></p>
                <p class="text-muted"><strong>Тривалiсть навчання:</strong> {{ student_data.course_data.duration }} мiс.</p>
                <p class="text-muted"><strong>Вчитель:</strong> {{ student_data.teacher_data.full_name }}</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}