{%extends 'tpl/base.html' %}

{% block title %}
Главная страница
{% endblock %}
{% block uButton %}
<button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#addCallModal">
    Вхiдний дзвiнок
</button>
{% endblock %}

  {% block message %}

      {% with messages = get_flashed_messages() %}
          {% if messages %}
              <div id="flash-message" class="alert alert-info custom-success-alert">
                  {{ messages[0] }}
              </div>
          {% endif %}
      {% endwith %}

  {% endblock %}


{% block body %}
{% include 'tpl/newCall.html' %}
{% include 'tpl/makeClients.html' %}
{% endblock %}

{% block tTitle %}
<h2>Звернення</h2>
{% endblock %}

{% block table %}
{% include 'tpl/table.html' %}{% endblock %}





