{%extends 'tpl/base.html' %}

{% block title %}
Отчеты
{% endblock %}

{% block body %}
<h1>Отчеты</h1>
{% endblock %}
{% block canvas %}
<canvas class="my-4 w-100" id="data" width="900" height="380">

      </canvas>
{% endblock %}